/*
Theme Name: Enfold Child
Description: A <a href='http://codex.wordpress.org/Child_Themes'>Child Theme</a> for the Enfold Wordpress Theme. If you plan to do a lot of file modifications we recommend to use this Theme instead of the original Theme. Updating wil be much easier then.
Version: 1.0
Author: Kriesi
Author URI: http://www.kriesi.at
Template: enfold
*/



/*Add your own styles here:*/

body, p {
font-size: 15px;
}

.main_color b,
.main_color strong { color: black }


#top .av-submenu-container {
background: #f8f8f8;
}

#top .logo img {
margin-top:10px;
height: 70px;
}

#top .av-subnav-menu a {
background: transparent;
color: #22bf2c;
cursor: pointer;
}

#top .av-subnav-menu a:hover {
color: black;
}

.phone-info span{ color: #ffffff }

#top #wrap_all .social_bookmarks, #top #wrap_all .social_bookmarks a, #top #wrap_all .social_bookmarks li {
color: #FFF;
}

#top .social_bookmarks li { border-color: #3C95C9 }

#header_meta { background: #8a1418 }

.copyright a {display: none}

.fsl.fwb a{
color: #FFFFFF;
}

#u_0_4 {
color: #ffffff;
}
