/*
 Theme Name:   Dental Care Child
 Theme URI:    http://themeforest.net/user/strongholdthemes
 Description:  Dental Care Child Theme
 Version:      2.2
 Author:       Stronghold Themes
 Author URI:   http://themeforest.net/user/strongholdthemes
 Text Domain:  dental-care
 Template:     dental-care
*/

@import url("../dental-care/style.css");

/*
------------------------------------------------------- */


.header-top {
    border-bottom: 0;
}

.masthead {
    border-bottom: 0;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,0.3);
}

.sedation .stronghold-icon-box-front,
.sedation .stronghold-icon-box-back {
  min-height: 360px !important;
}

.header-one.sticky-header-wrapper {
  background: rgba(84,10,28,0.8) !important
}

 .main-navigation .menu-item a:hover {
   color: #22bf2c !important;
 }

 .header-top .header-top-contact p {
   top: -10px;
 }

 .header-top { padding: 0 }

.page-title-wrapper-bg.page-header-transparent {
    background-position: center center !important;
    padding-bottom: 100px;
    background-attachment: scroll !important;
}

.cta-btn  a{
    font-size: 24px !important;
}

.search-box {
    background: #8a1418;
}

.navbar-nav>li>a {
    padding-left: 0 !important;
    font-size: 14px;
}

.avia-table {
    width: 100%;
    clear: both;
    margin: 30px 0;
    border-color: #e1e1e1;
    border: 0;
}

.avia-table tbody {
    border-color: #e1e1e1;
}
.avia-table th {
    color: #919191;
    border-color: #e1e1e1;
    border: 1px solid #e1e1e1;
}

.avia-table .avia-desc-col {
    text-align: right;
}

.avia-data-table .avia-heading-row .avia-desc-col {
    border-top: none;
    border-left: none;
}

.footer-widget-title {
    font-size: 14px;
}

.same-height-boxes .stronghold-icon-box-front ,
.same-height-boxes .stronghold-icon-box-back  {
    height: 282px;
}
#menu-woodview-main-manu > .menu-item:nth-last-child(4),
#menu-woodview-main-manu > .menu-item:nth-last-child(3),
#menu-woodview-main-manu > .menu-item:nth-last-child(2),
 #menu-woodview-main-manu > .menu-item:last-child {
    position: relative;
    margin-top: 2px;
}

.mobile-header.row{
    background: #8a1418;
}
#mobile-menu-toggle-icon {
    color: #22bf2c;
}
.dental-care-blog-grid-widget  .blog-grid-widget-info p {
    line-height: 1;
    font-size: 15px;
}

.wpcf7 label {
    width: 100%;
    font-size: 16px;
}

.wpcf7 input[type="submit"] {
    background: #8a1418;
    color: #FFF;
    min-width: 200px;
}
.wpcf7 p {
    margin-bottom: 5px;
}
.site-content {
    padding-top: 0 !important;
}

.main-navigation ul ul {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.main-navigation .stronghold-menu i {
    color:#22bf2c;
}

.widget .widget-title-underline-footer {
    border-bottom: 3px solid #22bf2c;
}

.iconbox-phone .stronghold-info-icon-title h3,
.iconbox-address .stronghold-info-icon-title h3,
.iconbox-hours .stronghold-info-icon-title h3 {
    font-size: 18px;
}

.iconbox-phone.vc_col-has-fill>.vc_column-inner,
.iconbox-address.vc_col-has-fill>.vc_column-inner,
.iconbox-hours.vc_col-has-fill>.vc_column-inner {
	padding-top: 0 !important;
}

.iconbox-phone.vc_col-has-fill .stronghold-icon-box-wrapper,
.iconbox-address.vc_col-has-fill .stronghold-icon-box-wrapper,
.iconbox-hours.vc_col-has-fill .stronghold-icon-box-wrapper {
 margin-bottom: 0 !important;
}


.iconbox-phone .stronghold-icon-box-front,
.iconbox-address .stronghold-icon-box-front,
.iconbox-hours .stronghold-icon-box-front{
    min-height: 165px !important;
	padding-bottom: 0 !important;
	padding-top: 0 !important;
}

.home .entry-content {
    margin: 0 !important;
}
